*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background:  #ffefea;
    margin: 0;
    min-height: 100vh;
}

h1 {
    margin-top: 0;
    text-align: center;
}

.container {
    margin: auto;
    padding: 21px;
}

.btn {
    background-color: darksalmon;
    border: 0;
    border-radius: 6px;
    color: #f8f8f8;
    cursor: pointer;
    font-size: 14px;
    padding: 7px;
}

.btn:active {
    transform: scale(.98);
}

.btn:focus, select:focus {
    outline: 0;
}

.btn-toggle {
    display: block;
    margin: auto;
    margin-bottom: 21px;
}

.text-box {
    background-color: #333;
    border-radius: 6px;
    color: #f8f8f8;
    left: 50%;
    padding: 21px;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -800px);
    transition: all 1.4s ease-in-out;
    width: 70%;
}

.text-box.show {
    transform: translate(-50%, 0);
}

.text-box select {
    background-color: darksalmon;
    border: none;
    color: #f8f8f8;
    font-size: 12px;
    height: 28px;
    width: 100%;
}

.text-box textarea {
    border: 1px #dadada solid;
    border-radius: 6px;
    font-size: 18px;
    height: 140px;
    margin: 14px 0;
    padding: 7px;
    width: 100%;
}

.text-box .btn {
    width: 100%;
}

.text-box .close {
    cursor: pointer;
    float: right;
    text-align: right;
}

main {
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(4, 1fr);
}

.box {
    cursor: pointer;
    font-size: 28px;
    text-align: center;
}

.box p {
    margin-top: 0;
}

@media (max-width: 767px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}